* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.heading {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 20px;
}

#generate-a {
    color: white;
    font-size: 50px;
    margin-top: 40px;
    margin: 4px;
}

#generate-password {
    color: rgb(73, 184, 73);
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-thickness: 20px;
}

.main-content {
    position: relative;
    margin-left: 100px;
    padding: 20px;
    width: fit-content;
    /* make sure button overlays properly */
}

#generated-password {
    width: 400px;
    padding: 10px;
    padding-right: 45px;
    /* space for button inside input */
    font-size: 16px;
}

#copy-clipboard {
    position: absolute;
    top: 50%;
    right: 30px;
    /* adjust to bring button inside input box */
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}



#copy-clipboard img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.button-content {
    position: relative;
    margin-left: 100px;
    padding: 20px;
    width: fit-content;
}

#generate {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: rgb(73, 184, 73);
    font-size: 16px;
}

#generate:hover {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: rgb(82, 129, 82);
    font-size: 16px;
    transition: 0.3s ease;
}

#generate img {
    height: 24px;
    width: 24px;
    object-fit: contain;

}

.container {
    margin-top: 10%;
}
